
.atas{
    font-family: Verdana;
    text-align: center;
    color:beige;
    background-color: maroon;
    padding: 2%;

}

.foto{
    width: 20vw;
    height: 50vh;
    background-image: url('image/ningning1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8%;
    border-radius: 200%;
}

.tentang saya{

}